
.navbar .container .navbar-header .navbar-logo a{
    font-size: 25px;
    color: white;
}
.collapse ul li {
    position: relative;
    line-height: 40px;
}

/*.collapse ul li a{*/
/*    display: block;*/
/*}*/
.collapse ul li .sub_menu {
    display: none;
    /*position: absolute;*/
    list-style-type: none;
}

.collapse ul li:hover .sub_menu {
    display: block;
    background: #355464;
}

.sub_menu {
    padding: 0;
}

.collapse ul li .sub_menu li a {
    color: white;
}

.collapse ul li .sub_menu li a:hover {
    color: #7BB1C4;
}
