* {
    margin: 0px;
    padding: 0px;
    font-family:Arial;

}
body{
    overflow: hidden;
}
/*dùng ảnh gif*/
.load{
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000;
    display: block;
    overflow: hidden;
}
.load img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
}

#sidebar-wrapper .side-top .logo-sidebar {
    /*margin-top: 20px;*/
}

#sidebar-wrapper .side-top ul li {
    font-size: 17px;
}
#sidebar-wrapper .side-top ul li a{
    font-weight: normal;
}
#containts .contact .fix {
    position: fixed;
    width: 100%;
    z-index: 100000;
}

#containts .contact .menu {
    height: 50px;
    background: #111111;
}

#containts .contact .menu button {
    width: 130px;
    height: 50px;
    background: none;
    border: none;
    float: left;
}

#containts .contact .menu button a {
    font-size: 18px;
}

#containts .contact .menu a {
    color: white;
    /*font-weight: bold;*/
}
#containts .contact .menu .bt-lab5 {
    background: #caa853;
    border-radius: 5px;
}

#containts .contact .menu .bt-lab:hover {
    background: #caa853;
    border-radius: 5px;
}

#containts .contact .menu .bt-lab:hover a {
    color: black;
}

/*----------tab--------------*/
#containts .contact .dow{
    width: 100%;
    background: white;
    height: 30px;
    color: black;
    position: fixed;
    z-index: 100000;
    padding: 5px 0px;
}
#containts .contact .dow a{
    margin-left: 580px;

}
#containts .contact #Requinement .reqi{
    margin-top: 132px;
}

#containts .contact #Requinement .reqi .dow1 {
    margin-left: 65px;
}

#containts .contact .tab-containt .tab{
    background-color: #f1f1f1;
    height: 50px;
    position: fixed;
    margin-top: 80px;
    z-index: 100000;
    -webkit-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.75);
}
#containts .contact .tab-containt .tab button {
    width: 170px;
    height: 50px;
    /*font-weight: bold;*/
    color: black;
    font-size: 17px;
}

#containts .contact .tab-containt .tab button:hover {
    background-color: #ddd;
}

#containts .contact .tab-containt #Requinement .reqi {
    color: black;
}
#containts .contact #Requinement .reqi h2 {
    font-weight: bold;
    color: #04617A;
}
#containts .contact #Requinement .reqi p {
    font-size: 16px;
}

#containts .contact #Requinement .reqi p i {
    color: #0F6EC6;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 5px;
}
/*------------design-------------------*/
#containts .contact #Design .desi{
    margin-top: 135px;
}
#containts .contact #Design {
    color: black;
}

#containts .contact #Design .desi .dow1 {
    margin-left: 230px;
}

/*--------------Imple-------------------------*/
#containts .contact #Implement .imple{
    margin-top: 135px;
}
#containts .contact #Implement {
    color: black;
}

#containts .contact #Implement .imple .dow1 {
    margin-left: 400px;
}