* {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma Arial;

}

#sidebar-wrapper .side-top .logo-sidebar {
    /*margin-top: -30px;*/
}
#sidebar-wrapper .side-top ul li{
    font-size: 18px;
}

#containts .contact .menu {
    height: 50px;
    background: black;
    margin-left: 0px;
}

#containts .contact .menu button {
    width: 130px;
    height: 50px;
    background: none;
    border: none;
    float: left;
}

#containts .contact .menu button a {
    font-size: 21px;
}

#containts .contact .menu a {
    color: white;
    font-weight: bold;
}

#containts .contact .menu .bt-lab3 {
    background: #F44336;
}

#containts .contact .menu .bt-lab:hover {
    background: #CCCCCC;
}

#containts .contact .menu .bt-lab:hover a {
    color: black;
}

/*----------tab--------------*/
#containts .contact .dow {
    margin-left: 295px;
    height: 25px;
    color: black;
    margin-top: 5px;
}

#containts .contact #Requinement .reqi .dow1 {
    margin-left: 65px;
}

#containts .contact .tab-containt .tab {
    background-color: #f1f1f1;
    height: 50px;
}

#containts .contact .tab-containt .tab button {
    width: 170px;
    height: 50px;
    font-weight: bold;
    color: black;
    font-size: 17px;
}

#containts .contact .tab-containt .tab button:hover {
    background-color: #ddd;
}

#containts .contact .tab-containt #Requinement .reqi {
    color: black;
}

/*------------design-------------------*/
#containts .contact #Design {
    color: black;
}

#containts .contact #Design .desi .dow1 {
    margin-left: 235px;
}

/*--------------Imple-------------------------*/
#containts .contact #Implement {
    color: black;
}

#containts .contact #Implement .imple .dow1 {
    margin-left: 410px;
}