*{
    margin: 0px;
    padding: 0px;
    font-family: Tahoma Arial;
}
#sidebar-wrapper .side-top .logo-sidebar {
    margin-top: -40px;
}
#containts .contact .menu{
    height: 50px;
    background: black;
    margin-left: 0px;
}
#containts .contact .menu button{
    width: 120px;
    height: 50px;
    background: none;
    border: none;
    float: left;
}
#containts .contact .menu a{
    color: white;
    font-weight: bold;
}
#containts .contact .menu .bt-lab2{
    background: #F44336;
}
#containts .contact .menu .bt-lab:hover{
    background: #CCCCCC;
}
#containts .contact .menu .bt-lab:hover a{
    color: black;
}

/*----------tab--------------*/
#containts .contact .dow{
    margin-left: 175px;
    height: 25px;
}
/*-------------------------*/
#containts .contact .tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

#containts .contact .tab button {
    color: black;
    font-weight: bold;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 170px;
}

#containts .contact .tab button:hover {
    background-color: #ddd;
}

#containts .contact .tab button.active {
    background-color: #ccc;
}

#containts .contact .menu2 .tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

/*----------requi-------------------*/
#containts .contact .menu2 .tabcontent .reqi{
    color: black;
}
#containts .contact .menu2 .tabcontent .reqi .dow1{
    margin-left: 65px;
}
/*------------design-------------------*/
#containts .contact .menu2 .tabcontent .desi .dow1{
    margin-left: 235px;
}
/*--------------Imple-------------------------*/
#containts .contact .menu2 .tabcontent .imple .dow1{
    margin-left: 410px;
}