*{
    margin: 0px;
    padding: 0px;
}
#sidebar-wrapper .side-top .logo-sidebar {
    margin-top: -40px;
}
#containts .contact .menu{
    height: 40px;
    background: black;
}
#containts .contact .menu button{
    width: 120px;
    height: 40px;
    background: none;
    border: none;
    float: left;
}
#containts .contact .menu a{
    color: white;
    font-weight: bold;
}
#containts .contact .menu .bt-lab1{
    background: #F44336;
}
#containts .contact .menu .bt-lab:hover{
    background: #CCCCCC;
}
#containts .contact .menu .bt-lab:hover a{
    color: black;
}
/*------------------------*/
#containts .contact .dow{
    margin-left: 55px;
    height: 25px;
}
/*-------------------------*/
#containts .contact .tab{
    background: #F1F1F1;
    height: 40px;
}
#containts .contact .tab button{
    background: none;
    width: 120px;
    height: 40px;
    border: none;
    float: left;
}
#containts .contact .tab button a{
    font-weight: bold;
}
#containts .contact .tab .bt-tab1{
    background: #CCCCCC;
}
#containts .contact .tab .bt-tab1 a{
    color: red;
}
#containts .contact .tab .bt-tab1:hover{
    /*background: #DDDDDD;*/
}
#containts .contact .tab .bt-tab:hover{
    background: #DDDDDD;
}
#containts .contact .tab .bt-tab:hover a{
    color: #dc2e2e;
}
/*------------*/
#containts .contact .dow1{
    margin-left: 60px;
}
/*-----------------*/
#containts .contact .req{
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}
#containts .contact .req h1{
    color: #04617A;
    font-weight: bold;
    font-size: 25px;
}
#containts .contact .req p .h4{
    font-weight: bold;
    color: black;
}
#containts .contact .req .p3{
    margin-left: 20px;
}
#containts .contact .req .p3 i{
    margin-right: 10px;
    color: #0F6EC6;
    font-size: 10px;
}
#containts .contact .req .p4{
    margin-left: 40px;
}
#containts .contact .req .p4 i{
    color: #0F6EC6;
    font-size: 8px;
    margin-right: 10px;
}