*{
    margin: 0px;
    padding: 0px;
}
#sidebar-wrapper .side-top .logo-sidebar {
    margin-top: -30px;
}
#containts .contact .menu{
    border-bottom: 2px solid black;
    height: 50px;
    background: #E6E6E6;
}
#containts .contact .menu ul li{
    float: left;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
}
#containts .contact .menu ul li .lab1{
    color: #dc2e2e;
 }
#containts .contact .menu ul li lab:hover{
    color: red;
}
/*------------------------*/
#containts .contact .dow{
    margin-left: 40px;
    height: 25px;
}
/*-------------------------*/
#containts .contact .tab{
    /*background: #9d9d9d;*/
    border: 1px solid black;
    height: 50px;
}
#containts .contact .tab ul li{
    font-weight: bold;
    float: left;
    margin-right: 100px;
    margin-left: 30px;
}