* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;

}
body{
    overflow: hidden;
}
/*dùng ảnh gif*/
.load{
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000;
    display: block;
    overflow: hidden;
}
.load img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
}

#sidebar-wrapper .side-top .logo-sidebar {
    /*margin-top: 20px;*/
}

#sidebar-wrapper .side-top ul li {
    font-size: 17px;
}

#containts .contact .fix {
    position: fixed;
    width: 100%;
    z-index: 100000;
}

#containts .contact .menu {
    height: 50px;
    background: #111111;
}

#containts .contact .menu button {
    width: 130px;
    height: 50px;
    background: none;
    border: none;
    float: left;
}

#containts .contact .menu button a {
    font-size: 21px;
}

#containts .contact .menu a {
    color: white;
    font-weight: bold;
}

#containts .contact .menu .bt-lab2 {
    background: #F44336;
}

#containts .contact .menu .bt-lab:hover {
    background: #CCCCCC;
}

#containts .contact .menu .bt-lab:hover a {
    color: black;
}

/*----------tab--------------*/
#containts .contact .dow {
    width: 100%;
    background: white;
    height: 30px;
    color: black;
    position: fixed;
    z-index: 100000;
    padding: 5px 0px;
}

#containts .contact .dow a {
    margin-left: 190px;
}

#containts .contact #Requinement .reqi {
    margin-top: 135px;
}

#containts .contact #Requinement .reqi .dow1 {
    margin-left: 65px;
}
#containts .contact .tab-containt .tab{
    background-color: #f1f1f1;
    height: 50px;
    position: fixed;
    margin-top: 80px;
    z-index: 100000;
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.75);
}

#containts .contact .tab-containt .tab button {
    width: 170px;
    height: 50px;
    font-weight: bold;
    color: black;
    font-size: 17px;
}

#containts .contact .tab-containt .tab button:hover {
    background-color: #ddd;
}

#containts .contact .tab-containt #Requinement .reqi {
    color: black;
    margin-bottom: 280px;
}
/*hien thuc*/
#containts .contact #Requinement .reqi h1 {
    font-weight: bold;
    color: #04617A;
}
#containts .contact #Requinement .reqi p {
    font-size: 17px;
}
#containts .contact #Requinement .reqi p i {
    color: #0F6EC6;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 5px;
}
/*------------user-------------------*/
#containts .contact #User .user{
    margin-top: 135px;
}
#containts .contact #User {
    color: black;
    margin-bottom: 15px;
}

#containts .contact #User .user .dow1 {
    margin-left: 230px;
}
#containts .contact #User .user img{
    margin: 10px 150px;
}
/*------------design-------------------*/
#containts .contact #Design .desi {
    margin-top: 135px;
}

#containts .contact #Design {
    color: black;
}

#containts .contact #Design .desi .dow1 {
    margin-left: 400px;
}

#containts .contact #Design .desi .img h3 {
    font-weight: bold;
}

#containts .contact #Design .desi .img .img-tay {
    margin-top: 30px;
}
#containts .contact #Design .desi .img .img-tay img{
    margin-left: 30px;
}

#containts .contact #Design .desi .img .img-tay button {
    margin-left: 150px;
}

.btn_lab1 {
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    outline: none;
    font-weight: bold;
}

.btn_lab1 i {
    font-size: 10px;
    margin: 5px;
}

.btn_lab1:hover {
    background: #0069D9;
    color: black;
    -webkit-box-shadow: 0px 3px 24px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 24px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 24px -2px rgba(0, 0, 0, 0.75);
}

#containts .contact #Design .desi .img .img-figma {
    margin-top: 50px;
}
#containts .contact #Design .desi .img .img-figma img{
    margin-left: 30px;
}

#containts .contact #Design .desi .img .img-figma button {
    margin-left: 150px;
}

#containts .contact #Design .desi button {
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
}

/*--------------Imple-------------------------*/
#containts .contact #Implement .imple{
    margin-top: 135px;
}
#containts .contact #Implement {
    color: black;
}

#containts .contact #Implement .imple .dow1 {
    margin-left: 570px;
}