*{
    margin: 0px;
    padding: 0px;
}
#sidebar-wrapper .side-top .logo-sidebar {
    margin-top: -40px;
}
#containts .contact .menu{
    height: 40px;
    background: black;
}
#containts .contact .menu button{
    width: 120px;
    height: 40px;
    background: none;
    border: none;
}
#containts .contact .menu a{
    color: white;
    font-weight: bold;
}
#containts .contact .menu .bt-lab2{
    background: #F44336;
}
#containts .contact .menu .bt-lab:hover{
    background: #CCCCCC;
}
#containts .contact .menu .bt-lab:hover a{
    color: black;
}

/*------------------------*/
#containts .contact .dow{
    margin-left: 175px;
    height: 25px;
}
/*-------------------------*/
#containts .contact .tab{
    /*background: #9d9d9d;*/
    border: 2px solid #DDDDDD;
    height: 40px;
}
#containts .contact .tab button{
    background: none;
    width: 120px;
    height: 38px;
    border: none;
}
#containts .contact .tab button a{
    font-weight: bold;
}
#containts .contact .tab .bt-tab1 a{
    color: red;
}
#containts .contact .tab .bt-tab1:hover{
    background: #DDDDDD;
}
#containts .contact .tab .bt-tab:hover{
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    background: #DDDDDD;
}
#containts .contact .tab .bt-tab:hover a{
    color: #dc2e2e;
}
/*-------*/
#containts .contact .dow1{
    margin-left: 60px;
}
